<div class="popup-custom-view">
  {{#if view.content.photo}}<img {{bind-attr src=view.content.photo}} class="popup-photo" />{{/if}}
  <span class="popup-title">{{view.content.displayTitle}}</span>
  {{#if view.content.popupDescription}}<div class="popup-desc">{{view.content.displayDescription}}</div>{{/if}}
  <div class="popup-country">{{view.content.displayCountry}}</div>
  {{#if view.content.url}}<a href="#" {{action "externalClick" view.content.url target="view"}} class="popup-url">{{t "base.website"}}</a>{{/if}}
  {{#if view.content.facebook}}<a href="#" {{action "externalClick" view.content.facebook target="view"}} class="popup-facebook">facebook</a>{{/if}}
  {{#if view.content.twitter}}<a href="#" {{action "externalClick" view.content.twitter target="view"}} class="popup-twitter">twitter</a>{{/if}}
  {{#if view.content.google}}<a href="#" {{action "externalClick" view.content.google target="view"}} class="popup-google">google</a>{{/if}}
</div>
