<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Planet Williams</h2>
      {{t "about.goal" tagName="p"}}
      {{t "about.built by" tagName="p"}}
      {{t "about.social" tagName="p"}}
      {{t "about.contact" tagName="p"}}
      {{t "about.source code" tagName="p"}}
    </div>
  </div>
</div>
