<header class="weekly-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Planet Williams <span class="weekly">Weekly</span></p>
      </div>
    </div>
  </div>
</header>
<section class="weekly-content">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h2 class="text-center">{{t "weekly.goal"}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="text-center">
          <form role="form" action="http://planet-williams.us9.list-manage.com/subscribe/post?u=f026bbdae3b9ea608da40c015&amp;id=94ca35bf33" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" {{translateAttr placeholder="weekly.email_placeholder"}} required>
                <div class="input-group-btn">
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_f026bbdae3b9ea608da40c015_94ca35bf33" tabindex="-1" value=""></div>
                  <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">{{t "weekly.subscribe"}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <p class="text-center">{{t "weekly.no_bullshit"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <p class="text-center"><a href="#">{{t "weekly.browse_previous"}}</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <p class="text-center">{{t "weekly.curated_by"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <p class="text-center">{{t "weekly.inspired_by"}}</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <p class="text-center unsub"><a href="http://planet-williams.us9.list-manage1.com/unsubscribe?u=f026bbdae3b9ea608da40c015&id=94ca35bf33">{{t "weekly.unsubscribe"}}</a></p>
      </div>
    </div>
  </div>
</section>
